*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table{
  width: 90%;
  margin: 4% auto;
}
table,tr,th,td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 9px;
}

form{
  width: 600px;
  margin: 3%;
  padding: 20px;
}
input{
  padding: 10px;
  width: 100%;
  margin: 20px 0;
}
button{
  padding: 10px 24px;
  background-color: black;
  color: white;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
}